 <!-- Sobre -->
        
      <div id='sobre'>
        
        <p  class="lead">Francis Kaster, 20 anos,formado Técnico em Eletrônica pelo IFSUL Pelotas, estudante da UFPEL no curso de Engenharia Eletrônica.
         </p>
        <p  class="lead">Linguagens e tecnologias:
         </p>
         <ul>
          <li>
            <p class="lead ">Python, principalmente com Django;
            </p>
          </li>
          <li>
            <p class="lead "> <p class="lead ">HTML, CSS, Javascript;
            </p>
          </li>
          <li>
            <p class="lead "> <p class="lead ">Versionamento com Git/ GitHub;
            </p>
          </li>

           <li>
            <p class="lead "> <p class="lead ">C, C++, Delphi;
            </p>
          </li>
          <li>
            <p class="lead ">Faço umas automações residenciais malucas com Esp32;
            </p>
          </li>
         </ul>
       </div>
       <!-- Sobre -->
