body{
  scroll-behavior: smooth;


  position: relative;
  min-height: 100%;
  min-height: 100vh;
  }
 footer{
   position: absolute;
   bottom: 0;
   height: 20px;
   width: 100%;
   margin-top:200px
 }

  #first{
      margin-top: 30px;
  }
  #wellcome{
    margin-bottom: 100px;
  }
  #projectsRow{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  #pFundo{
    color:white;
     margin-bottom:0px;
     padding: 0px 0px 20px 10px;
  }
  .footerText{
      margin: 0 !important;
      
      color:white;
      text-align: center;
}
.footerText a{
    color:white;
    
}
  .marg{
    
    margin-bottom: 50px;
    margin-top: 50px;
    
  }
  .bg-dark{
    background-color: #273036 !important; 
  }
  .project{
    height: 200px;
  }
  .card-img-model{
    height: 250px;
    object-position: 50% 50%;
    object-fit: cover;
  }
  .card:hover{
   
    background-color: rgba(0,0,0,0.3);
    
  
  }
