---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mim"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 26 2024')}
	heroImage="/blog-placeholder-4.jpg"
>
	<p>
		Meu nome é Francis, sou um desenvolvedor FullStack. Atualmente trabalho com Django e VueJS.
        Além disso, estou cursando Engenharia Eletrônica na Universidade Federal de Pelotas, tendo experiência em linguagem C.
	</p>

    <p>
        Tenho vários projetos feitos, nem todos voltados para programação web, mas sim para programação de microcontroladores e sistemas embarcados.
    </p>
</Layout>
